.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__btn-csv .ant-btn {
    border-radius: unset;
}
.script {
    display: flex;
    flex-wrap: wrap;
}
.script__select {
    width: 200px;
}
.script__select .ant-select-selection {
    border-radius: unset;
}
.script__input .ant-input {
    border-radius: unset;
    width: 500px;
}

.script__button .ant-btn {
    border-radius: unset;
}

.data-table {
    margin-top: 50px;
}

.data-table__header {
    background-color: #e8e8e8;
    border: 1px solid #e2e0e0;
    border-bottom: unset;
    padding: 20px 10px;

    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font-size: 16px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

.data-table__header .product-uploaded {
    color: red;
    padding-right: 60px;
}
.loading {
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 1px solid rgb(226, 224, 224);
    height: 200px;
    align-items: center;
}

.product-uploaded {
}
