body>#root{
  background-color: #f0f2f5;
  height: 100%;
}
.buyma-main{
  height: 100%;
  background-color: #f0f2f5;
  min-height: 700px;
  height: auto;
}
.buyma-main > .ant-layout >.ant-layout-content{
  height: 100%;
  padding: 10px;
}


